

<!-- <h2>Welcome to Phil's Movie Search</h2>


<form action='/home/search' method='get'>
  <label for='query'>Search for <div>Movies!</label>
  <input type='text' name='query'/>
  <button class="btn btn-success" id="submit">SUBMIT</button>
</form> -->